#body {
	background-color: #222222;
	color: white;
}

#stub-text {
	text-align: center;
	font-size: 100px;
	cursor: default;
	text-shadow: 0 0 50px white;
	transition: color 0.5s;
}

#stub-text:hover {
	color: #FFCCCC;
}

.floating {
	animation-name: floating;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(50%);	
	}	
	100% {
		transform: translateY(0%);
	}	
}
